@import '~@/assets/stylus/var'

*, *:before, *:after
  box-sizing border-box

*
  font-family $font_family

i
  font-style normal

a
  text-decoration none
  color $black_font_color

html
  height 100%

body
  height 100%
  position relative
  background-color $white_color
  color $black_font_color
  font-size $normal_font_size
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family $font_family
  min-width $container_width + 40

/* 自定义原生 Chrome 滚动条 */
::-webkit-scrollbar
  width 8px
  height 9px
::-webkit-scrollbar-track-piece
  background-color transparent
  -webkit-border-radius 20px
::-webkit-scrollbar-thumb
  height 10px
  -webkit-transform rotate3d(0,0,0,0)
  transform rotate3d(0,0,0,0)
  transition background-color 100ms ease-out
  background-color rgba($black_font_color, 0.3)
  border-radius 20px
  &:vertical, &:horizontal
    width 8px
  &:hover
    background-color rgba($black_font_color, 0.4)
    width 8px

// begin 因为滚动条出现/隐藏而造成的页面抖动问题
body
  overflow-y scroll
// end 因为滚动条出现/隐藏而造成的页面抖动问题

.common_page_container
  width $container_width
  margin 0 auto
  // background-color $nav_bg_color
  border-radius 5px
  min-height 700px
  padding 20px
.common_no_data
  text-align center
  padding-top 100px