@import '~@/assets/stylus/var'

*, *:before, *:after
  box-sizing border-box

*
  font-family $font_family

i
  font-style normal

a
  text-decoration none
  color $black_font_color

html
  height 100%

body
  height 100%
  position relative
  background-color $white_color
  color $black_font_color
  font-size $normal_font_size
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family $font_family
  width 100%

/* 自定义原生 Chrome 滚动条 */
::-webkit-scrollbar
  width 8px
  height 9px
::-webkit-scrollbar-track-piece
  background-color transparent
  -webkit-border-radius 20px
::-webkit-scrollbar-thumb
  height 10px
  -webkit-transform rotate3d(0,0,0,0)
  transform rotate3d(0,0,0,0)
  transition background-color 100ms ease-out
  background-color rgba($black_font_color, 0.3)
  border-radius 20px
  &:vertical, &:horizontal
    width 8px
  &:hover
    background-color rgba($black_font_color, 0.4)
    width 8px

// begin 因为滚动条出现/隐藏而造成的页面抖动问题
body
  overflow-y scroll
// end 因为滚动条出现/隐藏而造成的页面抖动问题

.common_page_1200_container
  background rgba(255, 255, 255, 0.6)
  width 1200px
  margin 0 auto
  // background-color $nav_bg_color
  border-radius 5px
  min-height 800px
  padding 20px
.common_page_1000_container
  background rgba(255, 255, 255, 0.6)
  margin 0 auto
  // background-color $nav_bg_color
  border-radius 5px
  min-height 800px
  padding 20px
@media screen and (min-width: 1000px) {
  .common_page_1000_container {
    width 1000px
  }
}
@media screen and (max-width: 1000px) {
  .common_page_1000_container {
    width 100%
  }
}
// 无数据情况
.common_no_data
  text-align center
  padding-top 100px
  font-size 14px
  .icon
    font-size 160px
  p
    color $font_light_color

// 通用详情页
.common_detail_big_title
  font-size 30px
  font-weight bold
  line-height 60px
  text-align center
  color $black_font_color
.common_detail_sml_title
  font-size 22px
  line-height 60px
  color $black_color
// .common_detail_main
//   background rgba(255, 255, 255, 0.6)
.common_content_text
  fonr-size 12px
  color $black_color
  line-height 30px
  margin-bottom 10px
  text-indent 25px
// 通用表格样式
.common_table
  border-radius 4px
  padding 10px

  // 通用标题
.common_title
  font-size 18px
  // color rgb(96, 92, 60)
  font-weight bold
  height 50px
  line-height 50px
  border-bottom 1px dashed $border_color
  margin-bottom 20px
.common_content_info
  text-align center
  color $font_grey_color
  font-size 12px
